




<footer class="bg-dark p-5 navbar-dark" id="footer">
    <div class="container-fluid">
        <div class="row pb-5 border-bottom border-light">
            <div class="col-lg-6 pb-3">
                <div class="pb-5">
                    <a href="" class="text-decoration-none"><span class="fw-bold fs-4" style="color: red;">AYMP</span><span class="fw-bold fs-6" style="color: red;">></span><span class="fw-bold fs-4" style="color: rgb(112, 173, 235);">PROGRAM</span></a>
                </div>
                <div class="col-10 pb-3 text-white">
                    <p>It's free. There's no Obligation. But there are many opportunities. Use this platform to achieve your dream and invest in your future.</p>
                </div>
                <div>
                    <a href="" class="btn btn-success rounded-5 px-5 fw-bold">Join the Movement</a>
                </div>
            </div>
            <div class="col-lg-6 pb-3">
                <div class="row">
                    <div class="col-sm-6">
                        <ul class="">
                            <li class="pb-2"><a href="" class="fs-5">About Us</a></li>
                            <li class="pb-2"><a href="" class="fs-5">Student Resources</a></li>
                            <li class="pb-2"><a href="" class="fs-5">Events</a></li>
                            <li class="pb-2"><a href="" class="fs-5">Awards</a></li>
                            <li class="pb-2"><a href="" class="fs-5">News & Resources</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 ps-3">
                        <ul class="">
                            <li class="pb-2"><a href="" class="fs-5">Internship Opportunities</a></li>
                            <li class="pb-2"><a href="" class="fs-5">Scholarships</a></li>
                            <li class="pb-2"><a href="" class="fs-5">Fellowships</a></li>
                        </ul>
                    </div>
                </div>
            </div>        
        </div>
        <div class="d-flex justify-content-lg-between">
            <div class="row pt-4">
                <div class="col-auto text-white">
                    &copy; 2023 AYMP Program                    
                </div>
                <div class="col-auto">
                    <a href="" class="">Terms and Conditions</a>                    
                </div>
                <div class="col-auto">
                    <a href="" class="">Privacy Policy</a>
                </div>
            </div>
            <div class="row pt-4">
                <div class="social-links">
                    <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                    <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                    <a href="#" class="youtube"><i class="bx bxl-youtube"></i></a>
                    <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                    <a href="#" class="telegram"><i class="bx bxl-telegram"></i></a>
                    <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                    <a href="#" class="tiktok"><i class="bx bxl-tiktok"></i></a>                    
                  </div>                
            </div>
        </div>
    </div>
</footer>
