{% load static %}

<section id="topbar" class="d-flex align-items-center text-white bg-dark">
    <div class="container-fluid d-flex justify-content-center justify-content-md-between text-white px-5">
        <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope-fill"></i><a href="mailto:info@msti.gov.kn.ng" class="text-white">support@arewamentorship.com</a>
        </div>
        <div class="social-links d-none d-md-block">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="youtube"><i class="bi bi-youtube"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="telegram"><i class="bi bi-telegram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
            <a href="#" class="tiktok"><i class="bi bi-tiktok"></i></a>
        </div>
    </div>
</section>

<nav class="navbar navbar-expand-xl py-4 bg-white" aria-label="navbar">
<div class="container-fluid">
    <a class="navbar-brand" href=""><img src="{% static 'assets/img/aymp0.jpg' %}" alt="" height="50px" width="150px"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbars" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbars">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
                <a class="nav-link fw-bold dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">About Us</a>
                <ul class="dropdown-menu bg-dark">
                <li><a class="dropdown-item text-white" href="#">Board of Directors</a></li>
                <li><a class="dropdown-item text-white" href="#">History, Mission & Vision</a></li>
                <li><a class="dropdown-item text-white" href="#">Awards</a></li>
                <li><a class="dropdown-item text-white" href="#">News & Resources</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link fw-bold dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Join AYMP</a>
                <ul class="dropdown-menu bg-dark">
                    <li><a class="dropdown-item text-white" href="#">Membership Benefit</a></li>
                    <li><a class="dropdown-item text-white" href="#">Mentorship Membership</a></li>
                    <li><a class="dropdown-item text-white" href="#">Student Membership</a></li>
                    <li><a class="dropdown-item text-white" href="#">Entrepreneurship Membership</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link fw-bold dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Events</a>
                <ul class="dropdown-menu bg-dark">
                    <li><a class="dropdown-item text-white" href="#">2023 Annual Meeting</a></li>
                    <li><a class="dropdown-item text-white" href="#">Webinars</a></li>
                    <li><a class="dropdown-item text-white" href="#">Upcoming Meetings</a></li>
                    <li><a class="dropdown-item text-white" href="#">Past Meetings</a></li>
                    <li><a class="dropdown-item text-white" href="#">Events Calendar</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link fw-bold dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Student Resources</a>
                <ul class="dropdown-menu bg-dark">
                    <li><a class="dropdown-item text-white" href="#">Internship Opportunities</a></li>
                    <li><a class="dropdown-item text-white" href="#">Scholarships</a></li>
                    <li><a class="dropdown-item text-white" href="#">Fellowships</a></li>
                    <li><a class="dropdown-item text-white" href="#">Student of the Year Award</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link fw-bold dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">AYMP Foundation</a>
                <ul class="dropdown-menu bg-dark">
                    <li><a class="dropdown-item text-white" href="#">About the Foundation</a></li>
                    <li><a class="dropdown-item text-white" href="#">Donate to the Foundation</a></li>
                    <li><a class="dropdown-item text-white" href="#">2023 Travel Awards</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link fw-bold dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Publications</a>
                <ul class="dropdown-menu bg-dark">
                    <li><a class="dropdown-item text-white" href="#">Journals</a></li>
                    <li><a class="dropdown-item text-white" href="#">Newspapers</a></li>
                </ul>
            </li>
            <a href="" class="btn btn-success text-nowrap rounded-5 px-5 text-white fw-bold">Join the Movement</a>
        </ul>
    </div>
</div>
</nav>
