{% load static %}

<section id="topbar" class="d-flex align-items-center text-white bg-dark">
    <div class="container-fluid d-flex justify-content-center justify-content-md-between text-white px-5">
        <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope-fill"></i><a href="mailto:support@arewamentorship.com" class="text-white">support@arewamentorship.com</a>
        </div>
        <div class="social-links d-none d-md-block">
            <a href="{{social.twitter}}" target="_blank" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="{{social.facebook}}" target="_blank" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="{{social.youtube}}" target="_blank" class="youtube"><i class="bi bi-youtube"></i></a>
            <a href="{{social.instagram}}" target="_blank" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="{{social.telegram}}" target="_blank" class="telegram"><i class="bi bi-telegram"></i></a>
            <a href="{{social.linkedin}}" target="_blank" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
            <a href="{{social.tiktok}}" target="_blank" class="tiktok"><i class="bi bi-tiktok"></i></a>
        </div>
    </div>
</section>

<nav class="navbar navbar-expand-xl py-4 bg-white" aria-label="navbar">
<div class="container-fluid">
    <a class="navbar-brand" href=""><img src="{% static 'assets/img/aymp0.jpg' %}" alt="" height="50px" width="150px"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item dropdown">
                <a class="nav-link fw-bold dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">About Us</a>
                <ul class="dropdown-menu bg-dark">
                <li><a class="dropdown-item text-white" href="#">Board of Directors</a></li>
                <li><a class="dropdown-item text-white" href="#">History, Mission & Vision</a></li>
                <li><a class="dropdown-item text-white" href="#">Awards</a></li>
                <li><a class="dropdown-item text-white" href="#">News & Resources</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link fw-bold dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Join AYMP</a>
                <ul class="dropdown-menu bg-dark">
                    <li><a class="dropdown-item text-white" href="#">Membership Benefit</a></li>
                    <li><a class="dropdown-item text-white" href="#">Mentor Membership</a></li>
                    <li><a class="dropdown-item text-white" href="#">Student Membership</a></li>
                    <li><a class="dropdown-item text-white" href="#">Entrepreneur Membership</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link fw-bold dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Events</a>
                <ul class="dropdown-menu bg-dark">
                    <li><a class="dropdown-item text-white" href="#">2023 Annual Meeting</a></li>
                    <li><a class="dropdown-item text-white" href="#">Webinars</a></li>
                    <li><a class="dropdown-item text-white" href="#">Upcoming Meetings</a></li>
                    <li><a class="dropdown-item text-white" href="{% url 'PastMeet' %}">Past Meetings</a></li>
                    <li><a class="dropdown-item text-white" href="#">Events Calendar</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link fw-bold dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Student Resources</a>
                <ul class="dropdown-menu bg-dark">
                    <li><a class="dropdown-item text-white" href="#">Internship Opportunities</a></li>
                    <li><a class="dropdown-item text-white" href="#">Scholarships</a></li>
                    <li><a class="dropdown-item text-white" href="#">Fellowships</a></li>
                    <li><a class="dropdown-item text-white" href="#">Student of the Year Award</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link fw-bold dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">AYMP Foundation</a>
                <ul class="dropdown-menu bg-dark">
                    <li><a class="dropdown-item text-white" href="#">About the Foundation</a></li>
                    <li><a class="dropdown-item text-white" href="#">Donate to the Foundation</a></li>
                    <li><a class="dropdown-item text-white" href="#">2023 Travel Awards</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link fw-bold dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Publications</a>
                <ul class="dropdown-menu bg-dark">
                    <li><a class="dropdown-item text-white" href="#">Journals</a></li>
                    <li><a class="dropdown-item text-white" href="#">Newspapers</a></li>
                </ul>
            </li>
            <form class="d-flex" action="">
                <input type="hidden">
                <button href="" class="btn btn-success text-nowrap rounded-5 px-5 text-white fw-bold">Join the Movement</button>
            </form>
        </ul>
    </div>
</div>
</nav>
